*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url("/img/background.jpg");
	background-size: cover;
}

header{
 display: flex;
}

img{
	max-height: 50px;
	max-width: 50px;
	display: block;
	
}

.title{
	display: block;
	font-family: 'Fredoka One', cursive;
	color: white;
}

.values{
	margin: 100px auto;
	text-align: center;
	background-color: #000;
	width: 200px;
	padding: 20px;
	color: white;
	font-family: 'Roboto', sans-serif;
	border-radius: 20px;
}

#number, #delay, #btn, #cycle{
	padding: 10px;
	margin: 10px;
	background-color: #0D266A;
	outline: 0;
	border: 0;
	border-radius: 10px;
}

#btn{
	cursor: pointer;
	text-transform: uppercase;
}

#btn:hover{
	color: #fff;
	background-color: #FF0000;

}

footer{
	height: 50px;
	width: 100%;
	background: black;
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	position: absolute;
	left: 0;
	bottom: 0;
}